#title-of-site {
    text-align: center;
    padding-top: 10px;
} 

canvas {
    border-style: ridge; 
    border-width: 10px;
    border-radius: 2px;
    border-color: #AB6835;
    width: 100%;
    height: 500px;
    touch-action: none;
}

@media only screen and (min-width: 768px) {
    canvas {
        height: 100%;
    } 
}

.row {
    display: flex;
}

.row label {
    padding-left: 10px;
    padding-right: 10px;
}

.row input{
    width: 100%;
}

.colors, .widths {
    text-align: center;
}
.colors {
    flex: 0 0 20%;
}

.widths {
    flex: 1;
}

.clearButton, .downloadButton {
    text-align: right;
}

.clearButton {
    flex: 0 0 10%;
} 

.clearButton #clear:hover {
    background-color: darkred;
}

.downloadButton {
    flex: 0 0 10%;
} 

.downloadButton #download:hover {
    background-color: darkblue;
} 